@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,400&display=swap');

body{
    background-image: url("../assets/NETFLIX_FORM_03_wes.jpg");
    background-color: rgb(20, 20, 20);
    font-family: 'Roboto', sans-serif;
    color:rgb(255, 255, 255);
    align-items: center;
}
.title{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: #00000094;
}
@media screen and (max-width: 600px){
  .wrapper {
    justify-content: center;
  }
  .card{
    max-width:90vw;
  }
}
.tipos{
  background-color: #00000047;
  font-weight: 700;
  padding: 10px;
}
.movies{
  display: flex;
  flex-direction: column;
}
.wrapper{
  min-width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.card{
    background-color: rgba(0, 0, 0, 0.493);
    margin: 5px;
    color: white;
}
.card-text{
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 5; /* number of lines to show */
   -webkit-box-orient: vertical;
}
.star{
    font-size: 40px;
}
.rating{
    font-weight: 700;
    font-size: 1.3rem;
}
.card-title{
    font-weight: 700;
}
.trailer-preview {
    background-color: #3a3a3a;
    position: absolute;
    top: 395px;
    right: 18px;
    width: 60px;
    height: 60px;
    border-radius:50%;
    color: rgba(255, 255, 255, 0.505);
    font-size: 34px;
    text-align: center;
    padding: 2px;
    transition: 0.5s ease;
  }
  .trailer-preview:hover, .trailer-preview:disabled, .trailer-preview:active, .trailer-preview:focus {
    opacity: 80%;
    color: #ff0000;
    text-decoration: none;
    transition: 0.5ms ease-in;
  }
  .trailer-preview i {
    margin-left: 5px;
  }
  
  .metadata {
    background: none;
    padding: 0;
    position: relative;
    border-style: none;
  }
  
  .metadata {
    font-size: 16px;
  }
  .metadata i, .metadata p {
    float: left;
  }
  .metadata p {
    margin-top: 0;
    margin-left: 10px;
  }
  .metadata i {
    color: #ff9d00;
    margin-top: 5px;
    margin-left: 1px;
  }