@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,400&display=swap');

body{
    background-image: url("../assets/NETFLIX_FORM_03_wes.jpg");
    background-color: rgb(20, 20, 20);
    font-family: 'Roboto', sans-serif;
    color:rgb(255, 255, 255);
    align-items: center;
}
.form{
  display: flex;
  justify-content: center;
}
.title{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: #00000094;
}
@media screen and (max-width: 600px){
  .wrapper {
    justify-content: center;
  }
  .card{
    max-width:90vw;
  }
}
.tipos{
  background-color: #00000047;
  font-weight: 700;
  padding: 10px;
}
.movies{
  display: flex;
  flex-direction: column;
}
.wrapper{
  min-width: 80vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.card{
  background-color: rgba(0, 0, 0, 0.382);
  margin: 5px;
  color: white;
  max-height: 750px;
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.card-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  height: 20rem;
  justify-content: space-between;
}
.card-text{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5; /* number of lines to show */
  -webkit-box-orient: vertical;
}
.star{
  font-size: 40px;
}
.rating{
  font-weight: 700;
  font-size: 1.3rem;
}
.card-title{
  font-weight: 700;
}
.button{
  height: 2.5rem;
  background-color: rgba(0, 0, 0, 0.35);
  color: white;
  width: 10rem;
  border: solid 0px;
  border-radius: 5px;
  transition: 0.8s ease;
}
.button:hover{
  background-color: rgba(0, 0, 0, 0.631);
  transform: scale(105%);
}
.card-info{
  background-color: #48020234;
  display: flex;
  flex-direction: row;
  width: 110%;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
  height: 3rem;
}
.info{
  width: 50%;
  text-align: right;
}
.info-rating{
  width: 40px;
  height: 40px;
  background-color: #ff0000a4;
  color: aliceblue;
  border-radius: 50%;
  text-align: center;
  padding-top: 4px;
  font-weight: 700;
}